<p-tabView>
    <div style="text-align:right">
        <button pButton type="button" label="Logout" ></button>
    </div>
    <p-tabPanel header="Playground">
        <div style="text-align:right">
        <button pButton type="button" label="Compose New Tweet" ></button>
        </div>
      <p-card>
          Content
      </p-card>
      <p-card>
          Content
      </p-card>
      <p-card>
          Content
      </p-card>
    </p-tabPanel>
    <p-tabPanel header="Followers">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Following">
        Content 3    
    </p-tabPanel>
    <p-tabPanel header="Search">
        <input type="text" size="50" pInputText />
        <button pButton type="button" label="Search" ></button>
        <p-card>
            Content
        </p-card>   
  </p-tabPanel>
</p-tabView>
